.background{
	background: url("./../../images/coverothersideS.jpg") no-repeat center fixed;
	background-size: cover;
}

.MHede{
	margin: 100px 0 10px 0;
	font-family: 'Dr Sugiyama', cursive;
	font-size: 400%;
}

.MType{
	font-size: 130%;
}

ul{
	list-style-type: none;
}

i {
  color: #c0392b;
}

i:hover {
  color:inherit;
  cursor: pointer;
}

input[type=text] {
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
}

input[type=text]:focus {
    background-color: #fff;
    outline: none;
}

#goods{
    margin-right: 20px;
}

#categories{
    margin-bottom: 20px;
}

#UserAddress, #UserEmail{
  width: 70%;
}

.button {
    background-color: #486a7d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #FFF;
    color: #486a7d;
    font-weight: bold;
}

#updateMerchantButton{
    background-color: #FFF;
    border: none;
    color: #486a7d;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 30px 0 50px 0;
}

#updateMerchantButton:hover {
    background-color: #486a7d;
    color: #FFF;
    font-weight: bold;
}
