.MainHeads{
	text-align: center;
 	top: 50%;
	left: 35%;
	position: absolute;
}

.MainH1{
	font-size: 120px;
	font-family: 'Dr Sugiyama', cursive;
}

.MainH2{
	font-size: 50px;
	font-family: 'Dr Sugiyama', cursive;
}

.glyphicon {
    font-size: 50px;
    margin-top: 50px;
    color: #486a7d;
}
