.AboutBox {
    background-color: #fede8a;
	height: 500px;
	margin-top: 6px;
}

.col-lg-6, .col-md-8{
	padding: 5% 5%;
}

.AboutHed{
	text-align: center;
}

.AboutText{
	text-align: center;
	font-size: 130%;
}
