.AboutBox {
    background-color: #fede8a;
	height: 400px;
	margin-top: 6px;
	position: relative;
}

.AboutHed{
	text-align: center;
	padding-bottom: 10px;
}

.AboutText{
	text-align: center;
	font-size: 18px;
}

.AboutCenter{
	width: 60%; 
	position: absolute;
	top: 20%;
	left: 20%;
}
