.navbar{
  background: #486a7d;
  margin-bottom: 0;
  z-index: 9999;
}

.navbar a{
  font-size: 20px;
  color: #fff;
}

.navbar-brand {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 200% !important;
}

.navbar-nav > li > a {
  font-size: 90% !important;
}

a:hover{
  color: #000;
}

.navbar-toggle {
  color: #000 !important;
	/*background: #b2d3e4;    */
  border: 1px #fff solid;
}
