.SearchBox {
    background-color: #eeba7e;
    height: 100%;
    width: 100%;
	/*margin-top: 6px;*/
}

.SearchHed{
	text-align: center;
    padding-top: 50px;
}

#searchSubmit{
	margin-left: 20px;
}

input[type=text] {
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
}

option {
    background-color: transparent;
}

.ResultsHed{
	text-align: center;
}
